html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: -color-3;
  overflow-x: hidden;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #F2F4F6;
  margin: 0;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: #22272E;
}

.deck {
  position: relative;
  padding: 30px;
  margin-bottom: 100px;
}

.deck > * {
  margin-bottom: 20px;
}

.card {
  height: auto;
  width: 400px;
  box-sizing: border-box;
}

.card-header {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 4px 4px 0 0;
  background-color: white;
  padding: 8px 20px;
  border-bottom: 1px solid #F2F4F6;
}

.card-body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

summary {
  outline: none;
}

.result {
  height: 120px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: white;
  display: block;
  margin: 0;
}
